@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: #{alpha(opacity=$opacity-ie)};
  }
  
  @mixin gradient-background() {
    background: -webkit-linear-gradient(#2c2c393f 50%,  rgba(255, 255, 255, 0.65) 70%, rgb(255, 255, 255) 100%); 
    background: -moz-linear-gradient(#2c2c393f 50%,  rgba(255, 255, 255, 0.65) 70%, rgb(255, 255, 255) 100%); 
    background: -ms-linear-gradient(#2c2c393f 50%,  rgba(255, 255, 255, 0.65) 70%, rgb(255, 255, 255) 100%); 
    background:  -o-linear-gradient(#2c2c393f 50%,  rgba(255, 255, 255, 0.65) 70%, rgb(255, 255, 255) 100%);
    background: linear-gradient(#2c2c393f 50%,  rgba(255, 255, 255, 0.65) 70%, rgb(255, 255, 255) 100%); 
  }