.card-informe2 {
    margin: 0.5rem;
    min-width: 15rem;
    background: transparent;
  
    border: none;
    cursor: pointer;
      @include transition(0.5s, ease-in-out);

      &:hover {
        .img-fluid {
          transform: scale(1.05);
        }
      }
  
    .date {
      text-align: right;
      font-size: 0.7em;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      margin: 0;
      font-weight: 600;
    }
    .card-body {
      padding-top: 0;
      padding: 0;
      .card-title {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 0.9em;
        color: rgb(70, 70, 70);
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      @include transition(0.5s, ease-in-out);
      color: rgb(70, 70, 70);
    }
    .img-fluid {
      width: auto;
      height: 9rem;
      width: 100%;
      @include transition(0.3s, ease-in-out);
      object-fit: fill;
    }
    .card-footer {
      @include transition(0.5s, ease-in-out);
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      vertical-align: center;
      padding: 0;
      text-align: center;
  
      background: rgba($color-primary, 0.8);
    }
  }
  
  .card-noticia:hover {
    text-decoration: none;
  }
  
  .modalNoticia {
    margin-top: 0;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
  
    &.date {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
  }