.page-header {
  .page-header-image {
    position: relative;

  }

  .container-title {
    width: 100%;
    padding: 0.7rem;
    margin: 0;
    font-family: "Ovo", serif;

    h6 {
      font-family: "Ovo", serif;
      font-size: 1rem;
    }
  }

}