.row-pagination {
 
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        .page-item{
         margin:.5rem; 
        }
        .page-link {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000000; 
            width:2rem; 
            height: 2rem;
         border-radius: 50%;
         border: none; 
         background:transparent;
         @include transition(.3s ,ease-in-out); 
         &:hover {
            background: $color-primary;
            box-shadow: 0 0 1px $color-primary;
            color:white; 
            cursor:pointer;
         }
         
        }
        .active .page-link { 
            color: #FFFFFF; 
            background: $color-primary;
            
        }
    }
}

